  <section class="intro"  id="home">
      <div class="menu-bar menu">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div id="logo">   
                <a href="/"><img src="/images/logo.png" alt="Nodo" title="Service Bots"  height="23px" style="float: left;"/></a>
              </div>
            </div>
            <div class="col-md-8">
              <ul class="list-unstyled" id="main-menu">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#screenshots">Screenshot</a></li>
                <li><a href="#clients">Clients</a></li>
                <li><a href="#subscribe">Subscribe</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#policy">Privacy Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Menu Ends here -->


 <div class="col-md-8 col-sm-6 col-xs-12 intro-texts">
                            <h1>{{message}}</h1><br>
                            <h1>{{error.msg}}</h1>
                            {{error.msg}}
                            <p> <h1>Page cant be served<br>
                            404 </h1></p>
                            <ul class="list-unstyled">
                                
                                <li><a href="/" title="cookie policy">HOME</a></li>
                               
                            </ul><br><br>
                        </div>

<h2></h2>
