  <section class="intro"  id="home">
      <div class="menu-bar menu">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div id="logo">   
                <a href="/"><img src="/images/logo.png" alt="Nodo" title="Service Bots"  height="23px" style="float: left;"/></a>
              </div>
            </div>
            <div class="col-md-8">
              <ul class="list-unstyled" id="main-menu">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="#features">Features</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#screenshots">Screenshot</a></li>
                <li><a href="#clients">Clients</a></li>
                <li><a href="#subscribe">Subscribe</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#policy">Privacy Policy</a></li><br>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Menu Ends here -->

<div class="intro-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-12 intro-image">
                            <img src="images/hand.png" alt="" /> <br>
                        </div>
                        <div class="col-md-8 col-sm-6 col-xs-12 intro-texts">
                            <h1>Nodo by Service Bots</h1>
                            <span>All Services in your favorite App Nodo is available in your Telegram WhatsApp and Facebook</span>
                            <ul class="list-unstyled">
                                <li><a href=https://t.me/nodoride_bot" target="_blank"" title="Get a boda or taxi">NodoRide</a></li>
                                <li><a href="" title="Coming Soon">Nodo Police</a></li>
                                <li><a href="https://api.whatsapp.com/send?phone=256773115607&text=Start%20using%20Nodo%20for%20Mubs%20/menu" target="_blank" title="The Campus on your whatsapp">Nodo for MUBS</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Intro Section Ends -->
        
        <section class="features" id="features">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 wow fadeIn">
                        <br>
                        <h2>features</h2>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInLeft">
                        <div class="single-service">
                            <p style="background:#EE3867;"><i class="far fa-heart"></i></p>
                            <h3>Awesome Design</h3>
                            <p>We understand the power of user experience</p>
                            <p><a href="">Read More</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInLeft">
                        <div class="single-service">
                            <p style="background:#3DB39D;"><i class="fas fa-dragon"></i></p>
                            <h3>Super fast</h3>
                            <p>No cacheing in our systems its real seamless experience</p>
                            <p><a href="">Read More</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight">
                        <div class="single-service">
                            <p style="background:#57C7ED;"><i class="fab fa-teamspeak"></i></p>
                            <h3>Interactive</h3>
                            <p>Our Bilateral menus will keep you engaged</p>
                            <p><a href="">Read More</a></p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeInRight">
                        <div class="single-service">
                            <p style="background:#324E5C;"><i class="fas fa-vials"></i></p>
                            <h3>Clean Code</h3>
                            <p>we have tested the appto make sure no bugs are left an caught.</p>
                            <p><a href="">Read More</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Features Section Ends Here -->
        
        <section class="other-features">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-5 wow fadeIn">
                        <img src="images/macbookpro.png" alt="" />
                        
                    </div>
                    <div class="col-md-7 col-sm-7 wow fadeIn">
                        <h2>Plartform Independent</h2>
                        <span>You can use our services on almost all devices and Operating systems. working almost the same on all.<br>
                            Check out <a href="howtouse">how to use it on your plartform</a></span>
                        <ul class="list-unstyled">
                            <li><i class="fa fa-cogs"></i> <p>PC</p></li>
                                <li><i class="fa fa-cogs"></i> <p>MacOS </p></li>
                                    <li><i class="fa fa-cogs"></i> <p>Linux</p></li>
                                        <li><i class="fa fa-cogs"></i> <p>iOS</p></li>
                                            <li><i class="fa fa-cogs"></i> <p>Android</p></li>

                            
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--Other Features Ends Here-->
        
        <section class="app-screenshot">
            <div class="container" id="screenshots">
                <div class="row">
                    <div class="col-md-12 wow fadeInUp">
                        <h2>Screenshots</h2>
                    </div>
                    <div id="owl-example" class="owl-carousel col-md-12 wow fadeInUp">
                        <div><img src="images/1.jpg" alt="" /></div>
                        <div><img src="images/2.jpg" alt="" title="choose Language" /></div>
                        <div><img src="images/3.jpg" alt="" title="You can choose between driver or passenger"/></div>
                        <div><img src="images/4.jpg" alt="" title="choose the type of ride your using"/></div>
                        <div><img src="images/5.jpg" alt="" title="Share your location"/></div>
                        <div><img src="images/6.jpg" alt="" title="Share your number"/></div>
                        <div><img src="images/7.jpg" alt="" title="wow got your ride" /></div>
                        <div><img src="images/2.jpg" alt="" title="choose Language" /></div>
                        <div><img src="images/3.jpg" alt="" title="You can choose between driver or passenger"/></div>
                        <div><img src="images/4.jpg" alt="" title="choose the type of ride your using"/></div>
                        <div><img src="images/5.jpg" alt="" title="Share your location"/></div>
                        <div><img src="images/6.jpg" alt="" title="Share your number"/></div>
                        <div><img src="images/7.jpg" alt="" title="wow got your ride" /></div>
                        

                        <div><img src="images/8.jpg" alt="" title="your location"/></div>
                    </div>

                </div>
            </div>
        </section>
        <!-- App Screenshot Ends Here-->
        
        <section class="testimonial" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow slideInLeft">
                        <h2>Our Team</h2>
                    </div>
                    <div class="col-md-12 wow slideInLeft">
                        <div id="testimonial-carousel" class="owl-carousel col-md-12">
                            <div class="single-client col-md-6 teamimage">
                                <img src="images/rogthat.jpg" class="teamimage"alt="User" title="CTO" />
                                <a href="https://www.twitter.com/rogthatsinatra" target="_blank"><p title="CTO" class="teamimage">DEVELOPER<br>
                                    <b>@RogthatSinatra</b><br>
                                Niringiye Rodgers</p></a>
                                <ul class="list-unstyled">
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
 
                            <div class="single-client col-md-6 teamimage">
                                <img src="images/serwanja.jpg" class="teamimage"alt="User" title="CEO" />
                                <p>CEO<br>
                                    <b>@LoyalityInk</b><br>
                                Louis Pius Serwanja</p>
                                <ul class="list-unstyled">
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>

                            <div class="single-client col-md-6 teamimage">
                                <img src="images/mark.jpg" class="teamimage"alt="User" title="CFO" />
                                <p>Accountant<br>
                                    <b>@Arineitwe</b><br>
                                Mark Arinaitwe</p>
                                <ul class="list-unstyled">
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>


                            <div class="single-client col-md-6 teamimage">
                                <img src="images/mugabi-daniel.jpg" class="teamimage"alt="User" title="COO" />
                                <p>COO<br>
                                    <b>@MugzDanyo</b><br>
                                Mugabi Daniel</p>
                                <ul class="list-unstyled">
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                    <li><a href=""><i class="fa fa-star"></i></a></li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--Testimonial Section Ends Here-->
        
        <section class="clients-logo" id="clients">
            <div class="container">
                <div class="row">
                    <div id="clients-logo" class="owl-carousel col-md-12 wow slideInRight">
                        <div><img src="images/kafeero-logo.png" alt="kafeero Foundation" title="Kafeero Foundation" /></div>
                        <div><img src="images/mubs-logo.png" alt="MUBS" title="Makerere University Business School"/></div>
                        <div><img src="images/kigere.png" alt="kigere"title="Kigere" /></div>
                        <div><img src="images/millicodes.png" alt="millicodes"title="millicodes" /></div>
                        <div><img src="images/washer.png" alt="washer" title="washer" /></div>
                        <!--
                        <div><img src="images/client06.png" alt="" /></div>
                        <div><img src="images/client07.png" alt="" /></div>
                        <div><img src="images/client01.png" alt="" /></div>
                        <div><img src="images/client08.png" alt="" /></div>
                        <div><img src="images/client09.png" alt="" /></div>-->
                    </div>
                </div>
            </div>
        </section>
        <!-- Clients Logo Section Ends Here -->
        
        <section class="price-list">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow zoomIn">
                        <h2>Try in Apps</h2>
                    </div>
                    <div class="col-md-4 wow slideInLeft">
                        <ul class="list-unstyled">
                            <li class="item-type">Nodo Ride</li>
                            <li class="item-price">
                                <span class="price-text">$0/<sub>Free</sub></span>
                                <span class="offer-text">Order for a ride Boda or Car or a kigere person<br> near you</span>
                            </li>
                            <li>Awesome Service</li>
                            <li>Telegram</li>
                            <li>Responsive Design</li>
                            <li>User Friendly</li>
                            <li>LTS</li>
                            <li><a href="https://t.me/nodoride_bot" target="_blank">Try it</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 wow slideInUp">
                        <ul class="list-unstyled focused">
                            <li class="item-type">Get a Custom Bot</li>
                            <li class="item-price">
                                <span class="price-text">$39/<sub>mon</sub></span>
                                <span class="offer-text">We understand that you may want your own bot. Get it available on all major plartforms</span>
                            </li>
                            <li>Awesome Service</li>
                            <li>Chrome & FireFox</li>
                            <li>Stable Release</li>
                            <li>User Friendly</li>
                            <li>24/7 Support</li>
                            <li><a href="">Purchase</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 wow slideInRight">
                        <ul class="list-unstyled">
                            <li class="item-type">Nodo for MUBS</li>
                            <li class="item-price">
                                <span class="price-text">$0/<sub>Free</sub></span>
                                <span class="offer-text">Get your Notes, Timetables, Coursework results<br> and past papers in your whatsapp</span>
                            </li>
                            <li>Awesome Service</li>
                            <li>WhatsApp</li>
                            <li>Fast</li>
                            <li>User Friendly</li>
                            <li>LTS</li>
                            <li><a href="https://api.whatsapp.com/send?phone=256773115607&text=Start%20using%20Nodo%20for%20Mubs%20/menu" target="_blank">Try it</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Price List Section Ends Here -->
        
        <section class="about-app" id="policy">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-sm-7">
                        <img class="wow slideInLeft" src="images/left-mob-front.png" alt="" />
                        <img class="wow slideInUp" src="images/left-mob-front-2.png" alt="" />
                        
                    </div>
                    <div class="col-md-7 col-sm-5 wow slideInRight">
                        <h2>About Nodo</h2>
                        <h3>Privacy policy</h3>
                        <p>Though you may need to pay tax to access most of our bot services in some countries.
                        </p>
                        <p>Our services are seamless fast and secure with 99.9% accuracy rate.
                        we keep all your information private and cannot give it out with out your conscent...<a href="privacy-policy">Learn More</a></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- About App Section Ends Here -->
        
        <section class="get-app" id="subscribe">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="wow fadeIn">Use in Apps</h2>
                        <p class="wow slideInUp">Start using service Bots now try nodo <br /> Either on whatsapp or telegram</p>
                        <div class="app-location wow slideInUp">
                            <ul class="list-unstyled">
                                <li><a href="https://api.whatsapp.com/send?phone=256773115607&text=Start%20using%20Nodo%20for%20Mubs%20/menu" target="_blank"><img src="images/whatsapp-button.png" alt="whatsapp" /></a></li>

                                <li><a href="https://t.me/nodoride_bot" target="_blank"><img src="images/telegraml.png" alt="telegram" /></a></li>
                            </ul>
                        </div>
                        <form action="" class="wow slideInUp">
                            <input type="text" name="" placeholder="Your Email" />
                            <input type="submit" value="Get Now" />
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Get App Section Ends Here -->