<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="Service Bots A.I Artificial Intelligence Machine learning Google maps Uber Telegram WhatsApp Facebook">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="./images/favicon.ico">
 <title>{{title}}</title>

     <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/owl.carousel.css">
        <link rel="stylesheet" href="/css/owl.theme.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/slicknav.min.css">
        <link rel="stylesheet" href="/css/responsive.css">
        <link rel="stylesheet" href="/css/main.css">
         <script src="js/vendor/modernizr-2.8.3.min.js"></script>

<!--weather -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/pace.js" async></script>
    <script src="/js/main.js" async></script>
            <!--Pass cookies-->
      <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>

<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#343c66",
      "text": "#cfcfe8"
    },
    "button": {
      "background": "#f71559"
    }
  },
  "content": {
    "href": "www.servicebots.tk/privacy-policy"
  }
})});
</script>

  
   
  </head>

 

  <body>
  
    {{{body}}}

    <div class="footer">

      <section class="contact" id="contact">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h2 class="wow fadeIn">Get In Touch</h2>
              <form action="">
                <input class="wow slideInLeft" type="text" name="" placeholder="Your Name" />
                <input class="wow slideInRight" type="text" name="" placeholder="Your Email" />
                <textarea class="wow slideInLeft" name="" placeholder="Your Message"></textarea>
                <input class="wow slideInRight" type="submit" value="Send Message" />
              </form>
            </div>
          </div>
        </div>
      </section>
      <!--Contact Section Ends Here-->
      
      <section class="footer-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
              
<!--Weather-->
<div class="disable-non">
    <div id="weather">
           <div id="tempwrapper" class="tempwrapper" >
            <div id="temp" class="temp" ><b></b></div>
            <div id="unit" class="unit temp" > <i class="fas fa-cloud-sun" id="hideday"> &degC</i>
<i class="fas fa-cloud-moon" id="hidenight"></i>
            </div>
         
 
     </div>

 </div>

    <div id="citySearch" data-tooltip='Search'>
        <form id="city" contenteditable > </form>
    </div>
</div>
<!--ends weather-->

    <p class="wow fadeInUp " id="pink">Contact</p>
          <p>
            <i class="fa fa-home mr-3 wow slideInLeft"></i> Bugolobi, Farady Road, UG</p>
          <p>
            <i class="fa fa-envelope mr-3 wow slideInRight"></i> servicebots21@gmail.com</p>
          <p>
            <i class="fa fa-phone mr-3 wow slideInLeft"></i> + 256 705 750134</p>
          <p>
            <i class="fa fa-print mr-3 wow slideInRight"></i> +256 759 443151</p>
        </div>
              <p class="wow fadeInUp" id="pink">Connect with us</p>
              <ul  class="wow fadeInUp" class="list-unstyled">
                <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                <li><a href=""><i class="fab fa-twitter"></i></a></li>
              <li><a href=""><i class="fab fa-youtube"></i></a></li>
                <li><a href=""><i class="fab fa-instagram"></i></a></li>
                <li><a href=""><i class="fas fa-rss"></i></a></li>

              </ul>
              <p class="wow fadeInUp">ServiceBots is a service from the Imbumerge Group</p>
              <p><a href="privacy-policy">Privacy Policy</a></p>
              <p> © 2018 Copyright</p>

            </div>
          </div>
        </div>
      </section>


    </div>
    <script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#000",
      "text": "#cfcfe8"
    },
    "button": {
      "background": "#f71559"
    }
  },
  "content": {
    "href": "www.servicebots.tk/privacy-policy.html"
  }
})});
</script>
   <style type="text/css">
      #pink{
                   color:#ef4643;
                  }
    </style>
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
     
        $("#owl-example").owlCarousel({
        items : 4,
        navigation : false,
        navigationText : ["prev","next"],
        paginationNumbers: true
        });
         $("#testimonial-carousel").owlCarousel({
        items : 1,
        itemsCustom : true,
        itemsDesktop : [1199,1],
        itemsDesktopSmall : [980,1],
        itemsTablet: [768,1],
        itemsTabletSmall: true,
        itemsMobile : [479,1],
        singleItem : true,
        itemsScaleUp : true,
        responsive : true
         });
         $("#clients-logo").owlCarousel({
        items : 6,
        paginationNumbers : false,
        navigation : false,
         });
      });
    </script>
        <script src="js/wow.min.js"></script>
    <script>
      new WOW().init();
    </script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
    <script type="text/javascript">
      // handle links with @href started with '#' only
      $(document).on('click', 'a[href^="#"]', function(e) {
        // target element id
        var id = $(this).attr('href');
        // target element
        var $id = $(id);
        if ($id.length === 0) {
          return;
        }
        // prevent standard hash navigation (avoid blinking in IE)
        e.preventDefault();
        // top position relative to the document
        var pos = $(id).offset().top;
        // animated top scrolling
        $('body, html').animate({scrollTop: pos}, 1000);
      });
    </script>
    <script type="text/javascript">
      // Create a clone of the menu, right next to original.
      $('.menu').addClass('original').clone().insertAfter('.menu').addClass('cloned').css('position','fixed').css('top','0').css('margin-top','0').css('z-index','500').css('background','#000').removeClass('original').hide();
      scrollIntervalID = setInterval(stickIt, 10);
      function stickIt() {
        var orgElementPos = $('.original').offset();
        orgElementTop = orgElementPos.top;
        if ($(window).scrollTop() >= (orgElementTop)) {
        // scrolled past the original position; now only show the cloned, sticky element.

        // Cloned element should always have same left position and width as original element.     
        orgElement = $('.original');
        coordsOrgElement = orgElement.offset();
        leftOrgElement = coordsOrgElement.left;  
        widthOrgElement = orgElement.css('width');
        $('.cloned').css('left',leftOrgElement+'px').css('top',0).css('width',widthOrgElement).show();
        $('.original').css('visibility','hidden');
        } else {
        // not scrolled past the menu; only show the original menu.
        $('.cloned').hide();
        $('.original').css('visibility','visible');
        }
      }
    </script>
    <script src="/js/jquery.slicknav.min.js"></script>
    <script>
      $(function(){
        $('#main-menu').slicknav();
      });
    </script>
       
  </body> 
</html>
